<div >
                        <div class="panel panel-default">
                                <div class="panel-body" style="padding:10px">
                                    <p>NAME : {{Detail.info.name}} </p>
                                    <p>CPF_ACC_NUMBER : {{Detail.info.accountnumber}}</p>
                                    <p>MONTH : {{Detail.info.month}} </p>                                    
                                </div>
                              </div>
                        <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th ng-repeat="col in Detail.column">{{col}}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="data in Detail.info.mEMContributionList">
                                    <td>{{data.comtype}}</td>
                                    <td>{{data.monthlycontribution}}</td>
                                    <td>{{data.totalycontribution}}</td>
                                  </tr>
                                </tbody>
                              </table>
</div>