 <div>
                        <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th ng-repeat="col in Employers.column">{{col}}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-if="Employers.data" ng-repeat="data in Employers.data">
                                   <!--  <td>{{data.rollno}}</td>
                                    <td>{{data.num}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.add}}</td>
                                    <td>{{data.ind}}</td>
                                    <td>{{data.gst}}</td> -->
                                    <td>{{data.employerId}}</td>
                                    <td>{{data.emprnumber}}</td>
                                    <td>{{data.emprname}}</td>
                                    <td>{{data.empraddress}}</td>
                                    <td>{{data.indutry}}</td>
                                    <td>{{data.gstno}}</td>
                                  </tr>
                                </tbody>
                              </table>
</div>